body {
    margin: 0;
    padding: 0;
}

.contenedorAfiliados {
    display: flex;
    flex-wrap: wrap;
}

h1, h2 {
    margin: 1rem
}

h3 {
    font-size: 1.5rem;
}

.tabla {
    width: 95vw;
    border: 1px solid blue;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 1rem;
    padding: 0.5rem;
}

td,th{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid blue;


}

.ingreso{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.altas{
    display: none;
}

.padron{
    display: none;
}

.botonera{
    display:none;
    flex-direction: row;
    justify-content:end;
}

.botonBorrar{
    display: flex;
    flex-direction: row;
    justify-content:end;
}